.contact_all{width:960px;}
.contact_banner_section{height:93px;background-color:rgb(56,56,56);padding-top:37px;}
.contact_banner{margin-left:135px;}
.contact_banner_introduction{margin-left:30px;font-size:34px;color:rgb(255,255,255);line-height:62px;}
.contact_content_section{margin-left:139px;margin-top:54px;}
.contact_website_wx{height:60px;}
.contact_website{margin-left:23px;width:290px;}
.contact_website_url{color:rgb(154,154,154);margin-top:3px;font-size:14px;}
.contact_website_title{font-size:20px;margin-top:5px;}
.contact_wx{margin-left:23px;}
.contact_wx_title{font-size:20px;margin-top:5px;}
.contact_wx_number{color:rgb(154,154,154);font-size:13px;margin-top:4px;}
.contact_email_phone{margin-top:60px;height:60px;}
.contact_email{margin-left:23px;width:290px;}
.contact_email_title{font-size:20px;margin-top:5px;}
.contact_email_number{color:rgb(154,154,154);font-size:13px;margin-top:4px;}
.contact_phone{margin-left:23px;}
.contact_phone_title{font-size:20px;margin-top:5px;}
.contact_phone_number{color:rgb(154,154,154);font-size:13px;margin-top:4px;}
.contact_address_section{margin-top:60px;height:60px;}
.contact_address{margin-left:23px;}
.contact_address_title{font-size:20px;margin-top:5px;}
.contact_address_name{color:rgb(154,154,154);font-size:13px;margin-top:4px;}



