<html>
<head>
<meta content-type="http-equiv" type="text/html;charset=gb2312">
<link rel='stylesheet' href="css/bb.css" type='text/css'>
<title>啦啦啦啦</title>
</head>
<body>
<div class="big">哈哈哈哈</div>
<div class="big">abcdefg</div>
{% include "bb/bb_bb.html" %}
</body>
</html>
<!--<script>
window.onload = function(){
  if(document.cookie.length == 0){
    var set_name = prompt("你的名字是");
    document.cookie = "name="+set_name;
    alert("欢迎"+set_name+"来到我们网站");
  }else{
     var name = document.cookie.split("=")[1];
     alert("欢迎"+name+"来到我们网站");
  }
}
</script>-->
