<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=gb2312"/>
{% load static%}
<link rel='stylesheet' href='{% static 'css/fenpu.css'%}' type='text/css'>
</head>
<body>
<div class="relative fenpu_banner_section">
   <div class="text_center float_r fenpu_banner relative"> 
       <img src="{% static "images/img_banner_logo.png" %}">
       <div class="fenpu_banner_title">开启你的美丽</div>
       <div class="fenpu_banner_description">最in美妆社区   最赞达人笔记</div>
       <div class="fenpu_banner_introduction">
          <div class="float_l">
               <img src="{% static "images/qr_app_download.png" %}" class="fenpu_banner_code_img">
               <div class="fenpu_banner_code">扫描二维码下载更方便</div>
          </div>
          <div class="float_l fenpu_banner_download">
              <a href="http://itunes.apple.com/cn/app/id553770334?ls=1&mt=8" title="粉扑-iPhone,iPad下载">
              <div class="fenpu_banner_download_iphone">
                   <img src="{% static "images/icon_download_ios.png" %}" class="float_l">
                   <div class="float_l fenpu_banner_download_style">粉扑iPhone</div>
              </div>
              </a>
              <a href="http://dabanniu.oss.aliyuncs.com/dbn.apk" title="粉扑-Android下载"> 
              <div class="fenpu_banner_download_android">
                   <img src="{% static "images/icon_download_android.png" %}"class="float_l">
                   <div class="fenpu_banner_download_style float_l">粉扑Android</div>
              </div>
              </a>
          </div>
       </div>
   </div>
   <div class="fenpu_banner_absolute absolute">
         <img src="{% static "images/banner.png" %}"class="float_r fenpu_banner_absolute_img">
   </div>
</div>

<div class="fenpu_topic_section">
  <div class="fenpu_topic div_center">
   <img src="{% static "images/img_screen_01.png" %}"class="float_l">
   <div class="float_l fenpu_topic_content">
      <div class="text_center fenpu_topic_title">聚集万千高品质达人</div>
      <div class="text_center fenpu_topic_description">每日必读她们的美妆笔记 让你最潮最in不掉队</div>
      <div class="fenpu_topic_introduction_section">
         <div class="float_l text_center">
           <img src="{% static "images/icon_screen_01_1.png" %}">
           <div class="fenpu_topic_introduction">最热妆品使用心得</div>
         </div>
         <div class="float_l text_center marg_l_sz">
           <img src="{% static "images/icon_screen_01_3.png" %}">
           <div class="fenpu_topic_introduction">出国必败清单</div>
         </div>
         <div class="float_l text_center marg_l_ss">
           <img src="{% static "images/icon_screen_01_2.png" %}">
           <div class="fenpu_topic_introduction">好用产品推荐</div>
         </div>
      </div>
    </div>
  </div>
</div>
<div class="fenpu_line div_center"></div>  

<div class="fenpu_question_section">
  <div class="div_center fenpu_question">
   <div class="float_l text_center fenpu_question_content">
     <div class="fenpu_question_title">最活跃问答社区</div>
     <div class="fenpu_question_description">困惑很多 来这里看看大家怎么说</div>
     <div class="fenpu_question_introduction_section">
        <div class="float_l relative">
           <img src="{% static "images/img_screen_02_wordsSlice 151.png" %}">
           <div class="absolute fenpu_question_absolute">
               <div class="fenpu_question_introduction">如何祛痘保湿抗皱</div>
           </div>
        </div>
        <div class="float_l relative marg_l_fz">
           <img src="{% static "images/img_screen_02_wordsSlice 152.png" %}">
           <div class="absolute fenpu_question_absolute">
               <div class="fenpu_question_introduction">过敏肌用什么好</div>
           </div>
        </div>
        <div class="float_l marg_l_fz relative">
           <img src="{% static "images/img_screen_02_wordsSlice 153.png" %}">
           <div class="absolute fenpu_question_absolute">
               <div class="fenpu_question_introduction">哪个品牌的粉底适合我</div>
           </div>
        </div>
     </div>
   </div>
   <img src="{% static "images/img_screen_02.png" %}" class="float_l marg_l_nf">
  </div>
</div>

<div class="fenpu_line div_center"></div> 
<div class="fenpu_detail_section">
  <div class="fenpu_detail div_center">
   <img src="{% static "images/img_screen_03.png" %}" class="float_l">
   <div class="float_l fenpu_detail_content">
      <div class="fenpu_detail_title">买化妆品前来粉扑查查</div>
      <div class="fenpu_detail_description">来粉扑查查它的心得笔记和相关问答</div>
      <div class="fenpu_detail_introduction_section">
         <div class="float_l text_center">
           <img src="{% static "images/icon_screen_03_1.png" %}">
           <div class="fenpu_detail_introduction">独家的产品信息</div>
         </div>
         <div class="float_l marg_l_so text_center">
           <img src="{% static "images/icon_screen_03_2.png" %}">
           <div class="fenpu_detail_introduction">达人的使用心得</div>
         </div>
         <div class="float_l text_center marg_l_ft">
           <img src="{% static "images/icon_screen_03_3.png" %}">
           <div class="fenpu_detail_introduction">产品的全方面问答</div>
         </div>
      </div>
    </div>
  </div>  
</div>
<div class="fenpu_line div_center"></div>
<div class="fenpu_code_section text_center">
  <div class="fenpu_code_title">加入粉扑，成为美丽达人</div>
  <div class="fenpu_code_img"><img src="{% static 'images/qr_app_download.png' %}"></div>
  <div class="fenpu_code_code">手机扫描上方二维码下载</div>
  <div class="fenpu_code_support">支持IOS Android</div>
</div>

<div class="fenpu_bottom_section">
  <div class="fenpu_bottom div_center">
     <img src="{% static "images/qr_fenpu_wechat.png" %}" class="float_l fenpu_bottom_code_img">
     <div class="float_l fenpu_bottom_introduction">
        <div class="fenpu_bottom_wx_section">
            <img src="{% static "images/img_fenpu_wechat.png" %}"class="float_l fenpu_bottom_fenpu_icon">
            <div class="fenpu_bottom_wx_name float_l">粉扑</div>
        </div>
        <div class="fenpu_bottom_wx_num">微信号：Daban_Niu</div>
        <div class="fenpu_bottom_wx_des_one">任何化妆品问题发给小扑，3秒内答复。</div>
        <div class="fenpu_bottom_wx_des_two">扑～就是这么神奇。不信你试试～</div>
     </div>
     <a href="/link/">
     <div class="float_l fenpu_bottom_contact_section">
          <img src="{% static "images/icon_download_contact_us.png" %}">
          <div class="fenpu_bottom_contact text_center">联系我们</div>
     </div>
     </a>
  </div>
  <div class="fenpu_bottom_wx_show">关注粉扑微信公众号</div>
  <div class="text_center fenpu_index_one">2011-2015 dabanniu.com All Rights Reserved</div>
  <div class="text_center fenpu_index_two">京ICP备10050896号-2</div>
</div>
</body>
</html>
