{% extends 'basis.html'%}

{% block input %}
 <form>
   <div style='float:left;height:30px;width:200px;border:1px solid black;text-align:center;'><input type='text' value='{{ time }}'></div>
   <div style='float:left;height:30px;width:100px;border:1px solid black;text-align:center;'><input type='button' value='查询'></div>
 </form>
{% endblock %}

{% block content %}
 {% for letter in select %}
 <div style='clear:both;'>
    <div style='float:left;height:50px;width:200px;background-color:yellow;'>
       {{ letter }}   
    </div>
    <div style='float:left;height:50px;width:200px;background-color:red;'>
       {{ letter  }}
    </div>
</div>
 {% endfor %}
{% endblock %}
