{% extends 'basis.html'%}

{% block input %}
  <form>
    <div style='float:left;height:30px;width:200px;border:1px solid black;text-align:center;'><input type='text' value={{ date }}></div>
    <div style='float:left;height:30px;width:100px;border:1px solid black;text-align:center;'><input type='button' value='查询'></div>
  </form>
{% endblock %}

{% block content %}
 {% for %}
    <div style='float:left;height:50px;width:100px;background-color:yellow;'></div>
    <div style='float:left;height:50px;width:100px;background-color:red;'></div>
 {% endfor %}
{% endblock %}

